#admin-panel .list-group > .list-group-item {
  cursor: pointer;
}

#admin-panel .list-group > .list-group-item.active {
  cursor: default;
}

/* Style editable tables */
table.editable td.empty-placeholder {
  text-align: center;
}

table.editable thead th {
  text-align: center;
}

table.editable thead th > h3 {
  margin: 0 auto;
}

/* This first-child and last-child rules
are super hacky, but they work */
table.editable th:first-child,
table.editable td:first-child {
  border-left: none;
}

table.editable td:last-child:not(.empty-placeholder),
table.editable th:last-child {
  width: 120px;
  background-color: white;
  border: none;
}

table.editable th,
table.editable td {
  border-left: 1px solid #ddd;
}

table.editable td {
  vertical-align: middle;
}

table.editable td > p {
  margin: 0 10px;
}
